/*  */
.grid_kiro{
  display: grid;
  grid-template-columns: 1fr 80px 40px 80px 1fr;
  grid-template-rows: 50px;
}
@media screen and (max-width: 670px) {
  .grid_kiro{
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: 50px;
  }
}
/* .container_2{
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto-fill;
  grid-template-rows: 300px 300px ;
  gap: 30px 
}
.image-card{
  box-shadow: inset 0px -18px 3px #000
} */
