/*  */
.grid_kiro{
  display: grid;
  grid-template-columns: 1fr 80px 40px 80px 1fr;
  grid-template-rows: 50px;
}
@media screen and (max-width: 670px) {
  .grid_kiro{
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: 50px;
  }
}
.news{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70px;
}
@media screen and (max-width: 900px) {
  .news{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px;
  }
}

/* .items-center:nth-child(1),
.items-center:nth-child(3),
.items-center:nth-child(5),
.items-center:nth-child(7),
.items-center:nth-child(9){
  border-bottom: 1px solid #bababa;
}
.items-center:nth-child(2),
.items-center:nth-child(4),
.items-center:nth-child(6),
.items-center:nth-child(8),
.items-center:nth-child(10),
.items-center:nth-child(12){
  border-bottom: 1px solid #bababa;
  border-left: 1px solid #bababa;
}
.items-center:nth-last-child(-n+2){
  border-top: 1px solid #bababa !important; 
} */

